.content-wrap {
	width: 1000px;
	margin: 0 auto;
	margin-top: 1.5em;
	color: white;
	font-size: var(--step-1);
	font-weight: 600;
	.top-start {
		font-size: var(--step--1);
		font-style: normal;
		line-height: 140%;
		margin-bottom: 1em;
		.vertical-line {
			margin-top: 20px;
			height: 65dvh;
			margin-left: 40px;
			border-left: 2px solid #474645;
			position: relative;
			.arrow {
				border: solid #474645;
				border-width: 0 2px 2px 0;
				display: inline-block;
				padding: 6px;
				transform: rotate(45deg);
				position: absolute;
				bottom: 0;
				left: -7px;
			}
		}
	}
	.content-wrap.meme-index {
		z-index: 10;
	}
	.content-wrap {
		margin-bottom: var(--step-8);
		position: relative;
		img {
			border-radius: 1em;
			display: block;
			margin: auto;
		}
		img.start-image {
			width: 50%;
			margin-top: 6em;
		}
		.title {
			display: flex;
			gap: 1rem;
			margin-bottom: 0.5em;
			// z-index: 2;
			position: relative;
			// mix-blend-mode: difference;
			span {
				font-family: 'kerozene';
				font-style: normal;
				font-weight: 500;
				font-size: var(--step-0);
				margin-top: 0.3em;
			}
			p {
				font-family: 'cn206';
				font-style: normal;
				font-weight: 400;
				font-size: var(--step-4);
			}
		}
		.content {
			// z-index: 2;
			position: relative;
			// mix-blend-mode: difference;
			p {
				font-size: var(--step-1);
				line-height: 140%;
				margin-bottom: var(--step-1);
			}
			#a-link {
				display: inline-block;
				padding: 0.45em 0.85em;
				border: 1px solid #fbcbcb;
				border-radius: 100px;
				font-style: normal;
				font-weight: 400;
				font-size: var(--step--1);
				line-height: 140%;
				color: var(--pink);
				margin-bottom: var(--step-1);
			}
		}
		.content.rubin {
			img {
				// z-index: 1;
				position: relative;
				top: 6em;
				// margin-top: 6em;
				transform: rotate(-3deg);
			}
		}
		.content.link-list {
			// display: flex;
			.link-wrap {
				display: inline-block;
				margin-right: 4em;
				margin-bottom: 1em;
				p {
					margin-bottom: 0.5em;
				}
				.link-item-wrap {
					display: flex;
					flex-wrap: wrap;
					gap: 0.5em;
				}
			}
		}
		.meme-wrap {
			position: relative;
			width: 100%;
			height: 15em;
			.meme {
				display: flex;
				position: absolute;
				background-color: white;
				flex-direction: column;
				border-radius: 0.4em;
				width: 15vw;
				max-width: 210px;
				overflow: hidden;
				cursor: grabbing;
				box-shadow: 0px 45px 18px rgba(0, 0, 0, 0.01),
					0px 25px 15px rgba(0, 0, 0, 0.05),
					0px 11px 11px rgba(0, 0, 0, 0.09),
					0px 3px 6px rgba(0, 0, 0, 0.1),
					0px 0px 0px rgba(0, 0, 0, 0.1);
				.meme-header {
					background-color: #f7f7f8;
					color: #676767;
					font-weight: 700;
					font-size: var(--step--3);
					line-height: 140%;
					text-align: center;
					padding: 0.625em 1.25em;
				}
				.meme-image {
					border-radius: 0;
				}
			}
		}
	}
}

#logoSvg {
	width: var(--step-8);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	// align-self: center;
	display: block;
}
