.manifesto {
	width: 90%;
	max-width: 1000px;
	margin: 0 auto;
    margin-top: var(--step-8);
	h1 {
		font-weight: 600;
		font-size: var(--step-1);
		line-height: 155%;
		color: #ffffff;
		margin-bottom: var(--step-1);
	}
    h2{
        font-size: var(--step--1);
    }
}
