.footer-wrap {
	// display: flex;
	// flex-direction: column;
	height: 100dvh;
	// justify-content: center;
	// gap: var(--step-4);
    position: relative;

	svg {
		width: var(--step-8);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
		// align-self: center;
        display: block;

	}
	
}
