button {
	font-size: var(--step--1);
	text-align: center;
	padding: 0.45em 0.85em;
	border: 1px solid white;
	display: inline-block;
	align-self: center;
	border-radius: 100px;
	cursor: pointer;
	position: absolute;
	background-color: rgba(255, 255, 255, 0);
	color: rgba(255, 255, 255,100);
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
}
